<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
   <div class="container-fluid main_nav">
       <div class="row">
           <div class="col-lg-10 col-md-10 col-11 mx-auto">
            <nav class="navbar navbar-expand-lg ">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/weather">Weather</a>
                      </li>
                   
                   
                  </ul>
                  
                </div>
              </nav>

           </div>

       </div>

   </div>
   <!-- *********************main part two side div******************* -->
   <div class="container-fluid mx-auto text-center">
       
           <!-- *************************** left side box  -->
          
               
                <div class="leftside_div text-center error_box">
                  <figure>
                   <img src="https://i0.wp.com/www.betterhostreview.com/wp-content/uploads/google-404-error.jpg?fit=615%2C362"class="img-fluid" alt="">
               </figure>
                   <a href="/">Go Back Home</a>

               </div>

      </div>    
           <!-- ************8right side  box  -->
           
 <!-- ************************satrt footer888888888888 -->
 <div class="footer">
     <div class="container-fluid">
         <div class="footer_box">
             <p>made by suva@duley</p>
         </div>

     </div>

 </div>
</body>
</html>